body {
    background-color: #00001a;
    color: white; 
}

p {
    color: white; 
}

h1 {
    color: #959fff; 
}

h2 {
    color: #ffffff; 
}

h3 {
    color: #ffffff; 
}

h4 {
    color: #ffffff; 
}

h5 {
    color: #ffffff; 
}

h6 {
    color: #ffffff; 
}